body {
  overflow: hidden;
}
#main header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: gray;
  padding: 0 30px;
}
#main header.header .header-left {
  display: inline-block;
  float: left;
}
#main header.header .header-right {
  display: none;
  float: right;
}
#main sidebar.sidebar.desktop {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 30px;
  height: calc(100% - 30px);
  width: 250px;
  background-color: lightgray;
}
#main sidebar.sidebar.desktop .month {
  cursor: pointer;
}
#main sidebar.sidebar.mobile {
  position: fixed;
  top: 30px;
  width: 100vw;
  height: calc(100vh - 30px);
  background-color: white;
  z-index: 100;
}
#main #albums {
  position: fixed;
  left: 250px;
  top: 30px;
  bottom: 0;
  right: 0;
  width: calc(100% - 250px);
  overflow: auto;
}
#main #albums .item {
  display: block;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#main #albums .item > img {
  height: auto;
  width: 100%;
  cursor: pointer;
}
.flex-container {
  display: flex;
}
.map-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.map-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.hidden {
  display: none;
}
.modal-header.small {
  padding: 0.2rem 0.5rem;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
@media screen and (max-width: 767px) {
  #main header.header .header-right {
    display: inline-block;
  }
  #main #albums {
    width: 100%;
    left: 0;
  }
  #main sidebar.sidebar.desktop {
    display: none;
  }
}
