#main header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: gray;
}
#main sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 30px;
  height: calc(100% - 30px);
  width: 250px;
  background-color: lightgray;
}
#main content {
  position: fixed;
  left: 250px;
  top: 30px;
  bottom: 0;
  right: 0;
  width: calc(100% - 250px);
  overflow: auto;
}
#main content img {
  width: 200px;
  height: auto;
}
