@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MontserratSubrayada-Regular'), url(https://fonts.gstatic.com/s/montserratsubrayada/v9/U9MD6c-o9H7PgjlTHThBnNHGVUORwteQQH8MaOM.ttf) format('truetype');
}
body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif !important;
}
#main header.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  background-color: gray;
  padding: 0 30px;
  font-size: 1.3em;
  font-weight: 900;
}
#main header.header .header-left {
  font-family: 'Montserrat Subrayada', sans-serif;
  display: inline-block;
  float: left;
}
#main header.header .header-right {
  display: none;
  float: right;
}
#main sidebar.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 30px;
  height: calc(100% - 30px);
  width: 250px;
  background-color: lightgray;
}
#main sidebar.sidebar .month {
  cursor: pointer;
}
#main #albums {
  position: fixed;
  left: 250px;
  top: 30px;
  bottom: 0;
  right: 0;
  width: calc(100% - 250px);
  overflow: auto;
}
#main #albums .item {
  display: block;
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: zoom-in;
  transition: transform 0.2s ease-in-out;
}
#main #albums .item:hover {
  transform: scale(1.1);
}
#main #albums .album-header {
  padding: 10px;
}
.flex-container {
  display: flex;
}
.map-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.map-container iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.hidden {
  display: none;
}
.modal-header.small {
  padding: 0.2rem 0.5rem;
}
.no-padding {
  padding: 0 !important;
}
.no-border {
  border: 0 !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
@media screen and (max-width: 767px) {
  #main header.header {
    height: 60px;
    line-height: 60px;
    font-size: 2.2em;
  }
  #main header.header .header-right {
    display: inline-block;
  }
  #main #albums {
    width: 100%;
    left: 0;
    top: 60px;
    height: calc(100% - 30px);
  }
  #main #albums .item {
    height: 250px;
  }
  #main sidebar.sidebar {
    z-index: 10;
    width: 100%;
    overflow-y: hidden;
    height: 0;
    top: 60px;
    transition: height 0.3s cubic-bezier(0, 1, 0.5, 1);
  }
  #main sidebar.sidebar.sidebar-open {
    height: calc(100% - 30px);
  }
}
@media screen and (max-width: 575px) {
  #main #albums .item {
    height: 350px;
  }
}
